{
   "parser": "@typescript-eslint/parser",
   "extends": [
     "airbnb-base",
     "airbnb-typescript/base",
     "eslint:recommended",
     "plugin:@typescript-eslint/recommended"
   ],
   "parserOptions": {
     "project": "./tsconfig.json",
     "tsconfigRootDir": "./",
     "sourceType": "module"
   },
   "rules": {
     "import/prefer-default-export": "off",
     "class-methods-use-this": "off",
     "import/no-extraneous-dependencies": "off",
     "no-param-reassign": "off",
     "no-throw-literal": "off",
     "@typescript-eslint/no-throw-literal": "off",
     "no-restricted-syntax": "off",
     "max-len": "off",
     "@typescript-eslint/no-inferrable-types": "off",
     "@typescript-eslint/indent": ["error", 3],
     "no-plusplus": "off",
     "@typescript-eslint/no-explicit-any": "off",
     // deshabilitadas temporalmente
     "no-console": "off",
     "@typescript-eslint/no-unused-vars": "off",
     "max-classes-per-file": "off",
     "@typescript-eslint/lines-between-class-members": "off"
   }
}